---
import "@/styles/global.css";

import { Image } from "astro:assets";
import { REPO_URL } from "astro:env/server";

import BlahajImage from "@/assets/blahaj.webp";
import GitHubIcon from "@/assets/github.svg";
import RandomIcon from "@/assets/random.svg";
import Fonts from "@/components/Fonts.astro";
import MetaTags from "@/components/MetaTags.astro";
import { memberSites } from "@/scripts/sites";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <MetaTags />
        <Fonts />
    </head>
    <body class="bg-background text-foreground min-h-screen">
        <div class="bg-background-alt flex w-full flex-col items-center justify-center">
            <section
                class="flex flex-col-reverse items-center justify-center gap-4 p-4 sm:flex-row"
            >
                <div class="flex w-full flex-col items-center sm:items-start">
                    <h1 class="text-4xl">BLÅHAJ.GROUP</h1>
                    <p class="text-center">A silly webring for a group of friends.</p>
                    <nav class="mt-2">
                        <ul class="flex flex-row flex-wrap items-stretch justify-center gap-2">
                            <li>
                                <a
                                    class="flex h-10 items-center justify-center gap-2 rounded bg-blue-400 px-2.5 text-black select-none hover:bg-blue-500"
                                    href="/random"
                                    target="_self"
                                    rel="noopener noreferrer"
                                >
                                    <RandomIcon class="h-6 w-6" />
                                    Random site
                                </a>
                            </li>
                            <li>
                                <a
                                    class="flex h-10 items-center justify-center gap-2 rounded bg-white px-2.5 select-none hover:bg-gray-200 dark:bg-[#010409] dark:text-white dark:hover:bg-[#161B22]"
                                    href={REPO_URL}
                                    target="_self"
                                    rel="noopener noreferrer"
                                >
                                    <GitHubIcon class="h-6 w-6" />
                                    Get involved
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <Image src={BlahajImage} alt="Blåhaj" class="h-48 w-48" />
            </section>
        </div>

        <div class="flex flex-row flex-wrap justify-center gap-5 p-5">
            {
                memberSites.map((site) => (
                    <div
                        class="relative h-80 w-150 overflow-visible"
                        data-card-id={site.meta.id}
                        data-card-url={site.meta.url}
                        data-card-owner={site.meta.owner}
                    >
                        <site.card meta={site.meta} />
                    </div>
                ))
            }
        </div>

        <div class="flex flex-row items-center justify-center gap-4 p-4"></div>
    </body>
</html>
